<!-- 面包屑 -->
<ul class="breadcrumb">
    <li><a href="/admin/">管理</a></li>
    <li><a href="/admin/userlist">用户列表</a></li>
    <li class="active">修改用户</li>
</ul>
<h2 class="sub-header">修改用户</h2>
<div class="table-responsive">
    <form class="form-horizontal" role="form" method="post" action="/admin/edituser">
        <input type="hidden" id="id" name="id" value="<%- user.id %>">
        <div class="form-group">
            <label for="username" class="col-sm-1 control-label">账号:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="username" name="username" value="<%- user.username%>">
            </div>
            <label for="nickname" class="col-sm-1 control-label">昵称:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="nickname" name="nickname" value="<%- user.nickname %>">
            </div>
            <label for="password" class="col-sm-1 control-label">密码:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="password" name="password" value="<%- user.password %>">
            </div>
            <label for="email" class="col-sm-1 control-label">邮件:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="email" name="email" value="<%- user.email%>">
            </div>
            <label for="phone" class="col-sm-1 control-label">电话:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="phone" name="phone" value="<%- user.phone%>">
            </div>
            <label for="qq" class="col-sm-1 control-label">QQ:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="qq" name="qq" value="<%- user.qq%>">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">修改</button>
            </div>
        </div>
    </form>
</div>