<!-- 面包屑 -->
<ul class="breadcrumb">
    <li><a href="/admin/">管理</a></li>
    <li><a href="/admin/categorylist">分类列表</a></li>
    <li class="active">修改分类</li>
</ul>
<h2 class="sub-header">修改分类</h2>
<div class="table-responsive">
<form class="form-horizontal" role="form" method="post" action="/admin/editcategory">
	<input type="hidden" id="id" name="id" value="<%- category.id %>">
	<div class="form-group">
		<label for="name" class="col-sm-1 control-label">名称:</label>
		<div class="col-sm-11">
			<input type="text" class="form-control" id="name" name="name" value="<%- category.name %>">
		</div>
		<label for="en" class="col-sm-1 control-label">En:</label>
		<div class="col-sm-11">
			<input type="text" class="form-control" id="en" name="en" value="<%- category.en %>" >
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">修改</button>
		</div>
	</div>
</form>
</div>